---
title:  "Visualizing Your Git Repository"
layout: section
---



<p>Quase metade das minhas interações com o Git acontecem na linha de comando. Mas <strong>quando eu quero entender o que está acontecendo, eu uso uma ferramenta visual de Git.</strong> Eu ainda uso o <strong><a href="https://rowanj.github.io/gitx/">GitX</a></strong>, mas nos anos desde que eu escrevi este site pela primeira vez, muitas outras ferramentas foram criadas. Use aquilo que funcionar para você.</p>

<p>O ponto principal de usar um visualizador é <strong>ajudar a entender seu histórico de branches.</strong> Por exemplo, para listar todos os commits do seu repositório na linha de comando, você poderia digitar <code class="inline">git log --oneline --abbrev-commit --all</code>—o que vai te dar esta visão plana:</p>

<p><em><strong>(Obrigado a <%= twitter_user('cflipse') %> por lembrar que <code class="inline">--pretty=oneline --branches=*</code> poderia ser reduzido a <code class="inline">--oneline --all</code>!)</strong></em></p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/textual-git-log.png" class="no-shadow" />
  <br /><strong>Claro como lama, não?</strong>
</div>
<%= clearer %>

<p>Ou, você pode acrescentar <code class="inline">--graph</code> a esse comando, que vai te mostrar uma visão <em>um pouco mais útil</em>:</p>

<code>git log --oneline --abbrev-commit --all --graph</code>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/textual-git-graph.png" class="no-shadow" />
  <br /><strong>Muito melhor!</strong>
</div>
<%= clearer %>

<p><em><strong>(Obrigado a <%= twitter_user('mjdominus') %> e <%= twitter_user('JRGarcia') %> por me lembrarem sobre a opção <code class="inline">--graph</code>!)</strong></em></p>

<p>Se você quiser ver os rótulos de branch e tag, adicione <code class="inline">--decorate</code>:</p>

<code>git log --oneline --abbrev-commit --all --graph --decorate</code>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/textual-git-graph-with-labels.png" class="no-shadow" />
  <br /><strong>Eu vou precisar de um layout de site mais largo se isso continuar...</strong>
</div>
<%= clearer %>

<p><em><strong>(Obrigado de novo a <%= twitter_user('JRGarcia') %> pela dica do <code class="inline">--decorate</code>!)</strong></em></p>

<p>Você também pode acrescentar <code class="inline">--color</code> para embelezar a visualização um pouco mais <em>(desculpe, não tive tempo de fazer uma captura de tela enquanto escrevia isso)</em>:</p>

<code>git log --oneline --abbrev-commit --all --graph --decorate --color</code>

<p>E, na verdade, eu tenho um alias de shell no meu <a href="https://github.com/geeksam/dotfiles/blob/master/bash/aliases">repositório dotfiles</a> que faz tudo isso:</p>

<code>alias gg='git log --oneline --abbrev-commit --all --graph --decorate --color'</code>

<p>Ou, como um leitor anônimo avisou, você pode configurar um alias de Git para fazer a mesma coisa:</p>

<code>git config --global alias.graph "log --graph --oneline –decorate=short"</code>

<p>Mas geralmente eu simplesmente uso o GitX, que mostra toda a mesma informação numa visão gráfica mais clara:</p>

<div class="wp-caption">
  <img src="/think-like-a-git-dot-net-pt-br/assets/images2/gitx-visualization.png" class="no-shadow" />
  <br /><strong>Eu gosto das cores bonitas.</strong>
</div>
