---
title: TL;DR
---



<h1><abbr title="Too Long; Didn't Read">TL;DR</abbr></h1>

<ul class="full-size">
  <li>O Git é uma ferramenta incrivelmente poderosa, mas pode ser difícil de aprender.</li>
  <li>Ajuda saber alguma coisa sobre <%= section_link('graph theory') %>, especialmente com relação a <%= section_link('reachability') %>.</li>
  <li>E saber o que são os <%= section_link('references') %> do Git.</li>
  <li>Porque <strong><%= section_link('references make commits reachable') %>.</strong> <br /><em>(Só tem tempo de ler uma página? Que seja essa.)</em></li>
  <li>Depois que você entende isso, você não vai perder tanto tempo fazendo backup do seu repositório inteiro, <%= section_link('my-humble-beginnings', 'like I did') %>.</li>
  <li><%= section_link('use-your-targeting-computer-luke', 'I like GitX') %>, e você pode usá-lo (ou outro visualizador) para incrementar o seu conhecimento de Git.</li>
  <li>Eu tenho algumas receitas para <%= section_link('testing out merges') %> que te dão uma opção de "desfazer".</li>
  <li>E eu tentei explicar <%= section_link('rebase-from-the-ground-up', 'rebase') %> da maneira mais simples que eu consegui.</li>
</ul>
